<h4>
  {{#if name}}
    {{name}}
  {{else}}
    <em>channel name</em>
  {{/if}}
</h4>

{{#if saveFailed}}
<div class="save-failed">
  could not save channel
</div>
{{/if}}

<ul>

<li>
  <label for="channel-name">Name:</label>
  {{input
      type="text"
      id="channel-name"
      placeholder="channel name"
      value=name}}
</li>

<li>
  <label for="server">Server:</label>
  {{view Ember.Select viewName="select"
    content=allServers
    optionLabelPath="content.name"
    optionValuePath="content.id"
    prompt="Servers:"
    id="server"
    selection=server}}
</li>

</ul>

<button {{action "save" model}}>Save</button>