<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Irc</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/irc.css">
  </head>
  <body>
    <script>
      window.EmberENV = {{EMBER_ENV}};
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/irc.js"></script>
    <script>
      window.Irc = require('irc/app')['default'].create({{APP_CONFIG}});
    </script>
  </body>
</html>
