<div class="menu">
  <h3>Channels</h3>
  <ul class="channels nav-items">
  {{#each channel in model}}
    <li>
      {{#link-to "channel" channel}}{{channel.name}}{{/link-to}}
    </li>
  {{/each}}

    <li class="new">
      {{#link-to "channels.new"}}Join Channel{{/link-to}}
    </li>
  </ul>
</div>

<div class="main-view channel">
  {{outlet}}
</div>