<h4>
  {{#if name}}
    {{name}}
  {{else}}
    <em>server name</em>
  {{/if}}
</h4>

{{#if saveFailed}}
<div class="save-failed">
  could not save server
</div>
{{/if}}

<ul>

<li>
  <label for="server-name">Name:</label>
  {{input
      type="text"
      id="server-name"
      placeholder="server name"
      value=name}}
</li>

<li>
  <label for="host">Host:</label>
  {{input
      type="text"
      id="host"
      placeholder="irc.someserver.net"
      value=host}}
</li>

<li>
  <label for="port">Port:</label>
  {{input
      type="text"
      id="port"
      placeholder="6667"
      value=port}}
</li>

<li>
  <label for="nick">Nick:</label>
  {{input
      type="nick"
      id="port"
      placeholder="6667"
      value=nick}}
</li>

</ul>

<button {{action "save" controller.model controller.model.server.connectionUser}}>Save</button>